<html>
<head>
  <title>Descarga</title>
  <meta charset="UTF-8">
</head>
<body>
<form action="\docs" method="post">
  <h2>Seleccione documento</h2>
  <input type="radio" name="fic" value="1" checked>Building Applications<br>
  <input type="radio" name="fic" value="2">Common Built ins<br>
  <input type="radio" name="fic" value="3">Common Mistakes At First Certificate Cambridge<br>
  <input type="radio" name="fic" value="4">Forms to the Web<br><br>
  <input type="submit" value="Descargar">
</form>
</body>
</html>