<html>
<head>
  <title>Estudios</title>
  <meta charset="UTF-8">
</head>
<body>
<form action="\respuesta" method="post">
  Ingrese su nombre:<input type="text" name="nombre" size="30" maxlength="30">
  <br>Seleccione el máximo nivel de estudios que tiene: <br>
  <input type="radio" name="estudios" value="básicos" checked>Sin estudios<br>
  <input type="radio" name="estudios" value="primarios">Primario<br>
  <input type="radio" name="estudios" value="secundarios">Secundario<br>
  <input type="radio" name="estudios" value="universitarios">Universitario<br>
  <input type="submit" value="Enviar">
</form>
</body>
</html>