<html>
<head>
    <title>Visualizar datos en ECORECURSOS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Chalarangelo/mini.css@v3.0.1/dist/mini-default.min.css">
</head>
<body>
    <table name="tabla" scrollbar="none" border="1px">
        <thead>
            <tr>
            <th>NIG</th>
            <th>NÚMERO DE PROCEDIMIENTO</th>
            <th>NIF/CIF</th>
            <th>NOMBRE Y APELLIDOS/RAZÓN SOCIAL</th>
            <th>DOCUMENTOS</th>
            </tr>
        </thead>
        <tbody>
            {% for recurso in recursos %}
            <tr>
                <td>{{recurso.nig}}</td><td>{{recurso.numpr}}</td><td>{{recurso.nif}}</td><td>{{recurso.nom}}</td>
                <td>{% for imagen in recurso.docs.documentos %}
                    <img src="data:image/png;base64, {{imagen}}" width="50%" height="50%"><br>
                    {% endfor %}
                </td>
            </tr>    
            {% endfor %}
        </tbody>
    </table>        
</body>
</html>