<html>
<META HTTP-EQUIV="REFRESH">
<head>
    <title>Visualizar datos en ECORECURSOS</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.3.2.min.css"/>
</head>
<body>
    <table style="width:100%" border=0>
        <thead>
            <tr>
            <th>NIG</th>
            <th>NÚMERO DE PROCEDIMIENTO</th>
            <th>NIF/CIF</th>
            <th>NOMBRE Y APELLIDOS/RAZÓN SOCIAL</th>
            <th>DOCUMENTOS</th>
            </tr>
        </thead>
        <tbody>
            {% for recurso in recursos %}
            <tr>
                <td>{{recurso.nig}}</td><td>{{recurso.numpr}}</td><td>{{recurso.nif}}</td><td>{{recurso.nom}}</td>
                <td>{% for docum in recurso.docs.documentos %}
                        <a href="/MuestraDoc/{{docum.nomdoc}}/{{recurso.nig}}" target="_blank">{{docum.nomdoc}}</a><br>
                    {% endfor %}
                </td>
            </tr>    
            {% endfor %}
        </tbody>
    </table>        
</body>
</html>